# ==== JAVA / SPRING ====
target/
*.log
*.class
*.jar
*.war
*.ear
*.iml
.idea/

# ==== NODE / ANGULAR ====
node_modules/
dist/
.angular/
npm-debug.log
package-lock.json

# ==== DOCKER ====
*.env

# ==== OS ====
.DS_Store
Thumbs.db

# ==== VSCODE ====
.vscode/